@model dynamic

@{
    ViewBag.Title = "Новости - Вируальная реальность";
    Layout = "~/Views/Shared/_Layout.cshtml";
    const int selectedMenuItem = 0;
}

@section head{
    <link rel="stylesheet" href="/Frontend/css/News/index.css"/>
}

<div id="page">
    
    @Html.Partial("HeaderSection", selectedMenuItem)

    <section id="body" class="container">
        
        @*<div class="row hidden-xs">
            img-thumbnail - даёт небольшое расстояние для обтекания и автоматически уменьшает картинку
            <img src="/Frontend/images/r5.jpg" class="col-md-2 col-md-offset-4 img-thumbnail" />
            <img src="/Frontend/images/batman_arkham_knight_jpg.jpg" class="col-md-2 img-thumbnail" />
        </div>*@

        @Html.Partial("MainSection")

        @Html.Partial("SidebarSection")
    </section>
    @*<hr />
    <section id="footer" class="container">
        <p>
            Текст в футере
        </p>
    </section>*@
</div>
