<section id="sidebar" class="col-md-4">
    <div class="panel">
        <div class="panel-heading">
            @*<h2>ТОП</h2>*@
            <ul class="nav nav-tabs nav-justified panel-title">
                <li class="active"><a href="#applications" data-toggle="tab" aria-expanded="true">Приложения</a></li>
                <li><a href="#articles" data-toggle="tab" aria-expanded="false">Статьи</a></li>
                <li><a href="#articles" data-toggle="tab" aria-expanded="false">Рецензии</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="applications">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><b>01.</b></td>
                                <td><img src="/Frontend/images/SidebarIcons/dragonage3-possible-logo-360x360.png" /></td>
                                <td><a href="#">Dragon Age: Inquisition</a></td>
                            </tr>
                            <tr>
                                <td><b>02.</b></td>
                                <td><img src="/Frontend/images/SidebarIcons/TheWitcher3_WildHunt.jpg" /></td>
                                <td><a href="#">The Witcher 3: Wild Hunt</a></td>
                            </tr>
                            <tr>
                                <td><b>03.</b></td>
                                <td><img src="/Frontend/images/SidebarIcons/divinityoriginalsin.jpg" /></td>
                                <td><a href="#">Divinity: Original Sin</a></td>
                            </tr>
                            <tr>
                                <td>04.</td>
                                <td><img src="/Frontend/images/SidebarIcons/HeroOfMightAndMagic.png" /></td>
                                <td><a href="#">Меч и Магия: Герои VII</a></td>
                            </tr>
                            <tr>
                                <td>05.</td>
                                <td><img src="/Frontend/images/SidebarIcons/TotalWar_Rome2.gif" /></td>
                                <td><a href="#">Total War: Rome II</a></td>
                            </tr>
                            <tr>
                                <td>06.</td>
                                <td><img src="/Frontend/images/SidebarIcons/Hearthstone.png" /></td>
                                <td><a href="#">Hearthstone: Heroes of Warcraft</a></td>
                            </tr>
                            <tr>
                                <td>07.</td>
                                <td><img src="/Frontend/images/SidebarIcons/FarCry4.png" /></td>
                                <td><a href="#">Far Cry 4</a></td>
                            </tr>
                            <tr>
                                <td>08.</td>
                                <td><img src="/Frontend/images/SidebarIcons/Tera_TheBattleForTheNewWorld.png" /></td>
                                <td><a href="#">TERA: The Battle For The New World</a></td>
                            </tr>
                            <tr>
                                <td>09.</td>
                                <td><img src="/Frontend/images/SidebarIcons/WorldOfTanks.jpg" /></td>
                                <td><a href="#">World of Tanks</a></td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td><img src="/Frontend/images/SidebarIcons/BlackDesert.jpg" /></td>
                                <td><a href="#">Black Desert</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="articles">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><b>01.</b></td>
                                <td><img src="/Frontend/images/SidebarIcons/dragonage3-possible-logo-360x360.png" /></td>
                                <td><a href="#">Dragon Age: Inquisition</a></td>
                            </tr>
                            <tr>
                                <td><b>02.</b></td>
                                <td><img src="/Frontend/images/SidebarIcons/TheWitcher3_WildHunt.jpg" /></td>
                                <td><a href="#">The Witcher 3: Wild Hunt</a></td>
                            </tr>
                            <tr>
                                <td><b>03.</b></td>
                                <td><img src="/Frontend/images/SidebarIcons/divinityoriginalsin.jpg" /></td>
                                <td><a href="#">Divinity: Original Sin</a></td>
                            </tr>
                            <tr>
                                <td>04.</td>
                                <td><img src="/Frontend/images/SidebarIcons/HeroOfMightAndMagic.png" /></td>
                                <td><a href="#">Меч и Магия: Герои VII</a></td>
                            </tr>
                            <tr>
                                <td>05.</td>
                                <td><img src="/Frontend/images/SidebarIcons/TotalWar_Rome2.gif" /></td>
                                <td><a href="#">Total War: Rome II</a></td>
                            </tr>
                            <tr>
                                <td>06.</td>
                                <td><img src="/Frontend/images/SidebarIcons/Hearthstone.png" /></td>
                                <td><a href="#">Hearthstone: Heroes of Warcraft</a></td>
                            </tr>
                            <tr>
                                <td>07.</td>
                                <td><img src="/Frontend/images/SidebarIcons/FarCry4.png" /></td>
                                <td><a href="#">Far Cry 4</a></td>
                            </tr>
                            <tr>
                                <td>08.</td>
                                <td><img src="/Frontend/images/SidebarIcons/Tera_TheBattleForTheNewWorld.png" /></td>
                                <td><a href="#">TERA: The Battle For The New World</a></td>
                            </tr>
                            <tr>
                                <td>09.</td>
                                <td><img src="/Frontend/images/SidebarIcons/WorldOfTanks.jpg" /></td>
                                <td><a href="#">World of Tanks</a></td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td><img src="/Frontend/images/SidebarIcons/BlackDesert.jpg" /></td>
                                <td><a href="#">Black Desert</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
