@model dynamic

@{
    ViewBag.Title = "Новости - Вируальная реальность";
    Layout = "~/Views/Shared/_Layout.cshtml";
    const int selectedMenuItem = 2;
}

@section head{
    <link rel="stylesheet" href="/Frontend/css/Reviews/Item.css" />
}

<div id="page">
    @Html.Partial("HeaderSection", selectedMenuItem)
    
    <div id="body" class="container">
        <div class="well game_review">
            <div class="game_review_score">10</div>
            <div class="game_review_text_container">
                <div class="game_review_text_score">Итоговая оценка</div>
                <div class="game_review_text_scoretext">
                    Идеально
                </div>
            </div>
        </div>
        <article>
            <div class="article_body">
                <div id="id_text" class="article-content">
                    <p>Очередной конфликт между северными королевствами и Нильфгаардской империей был лишь вопросом времени: в «Ведьмаке 3» час меча, топора и презрения наконец наступил. Могучая армия Эмгыра вар Эмрейса стоит в Темерии, где для местного населения началась новая жизнь, полная грабежей и убийств. По ту линию фронта тоже все очень плохо: Радовид, король Редании, предал своих – уже бывших – союзников и устроил охоту на чародеев, собственно чародеями, впрочем, не ограничиваясь. «Дикая Охота» прекрасно раскрывает темы лжепатриотизма, остервенелого поиска агентов врага и многих других типичных для реального мира явлений.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/derevnia-belyi-sad-5_sec5.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183206" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/derevnia-belyi-sad-5_sec5.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Сам ведьмак, теперь уже полностью восстановивший память, отправляется на поиски своей воспитанницы Цири. Один из лучших следопытов Севера, Геральт посетит оккупированный Велен, вспыхнувший огнями инквизиции Новиград и острова Скеллиге, чтобы впервые с момента окончания цикла Сапковского встретить свое Предназначение. Велен с Новиградом – лишь малая часть северных королевств, но и география «Ведьмака 3» впечатляет: только сюжетные миссии займут порядка 60-80 часов, а во временном выражении они составляют от силы треть всей игры.</p>

                    <p>На самом деле, когда поляки обещали объединить открытый мир и «сюжетную» RPG, они несколько лукавили. Геральт – специалист узкого профиля, он не может стать волшебником (хотя, естественно, обучен традиционным ведьмачьим фокусам с магическими знаками), ему не суждено сменить два меча на один лук (пусть в этот раз он и получает в свое распоряжение арбалет – дополнительное оружие, позволяющее сбивать на землю воздушных тварей и подстреливать подводных), ведьмак не будет вешать на голову купцу котелок и красть все его пожитки, а уйдя в свободное плавание, он толком не прокачается – львиная доля опыта выдается по сюжету. Дом не купить, жениться не дают, мастером-бронником не стать. Мир велик, но «жить» в нем нельзя – все это декорации, пусть и крайне удачные. И хорошо: обширные пространства «Дикой Охоты» заполнены контентом ручной выделки, а не голыми механиками для самостоятельного увеселения.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/velen-9_x3yj.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183207" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/velen-9_x3yj.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Сравнение со Skyrim было бы неуместно: «Ведьмак 3» ближе к GTA V или Red Dead Redemption. Велен, Новиград и Скеллиге под завязку забиты превосходно прописанными квестами, различными состязаниями и буквально сотнями разнообразных «точек интереса» – от банальных сундуков с сокровищами до мистических мест силы, дарующих по бесценному баллу способностей. Иными словами, CD Projekt RED создала «сюжетную» RPG циклопических масштабов. И это внушает уважение.</p>

                    <p>Ведь раньше заказчик головы тролля мог проживать в сотне метров от логова самого чудища. Размеры новой части «Ведьмака» позволили создать убедительные мизансцены, когда хозяин дома с «привидениями» не сидит на крыльце проклятого особняка, а заливает свое горе в нескольких километрах от него – в корчме Новиграда. Конечно, тут немало мест, в которые имеет смысл приходить ровно один раз, но это и не плохо: едва ли выделение сил и средств на очередной гектар потрясающе красивых топей Велена или гор Скеллиге повлияло на качество заданий в этих локациях.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150522053745_15y3.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183208" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150522053745_15y3.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Еще свеж пример недавней Dragon Age: Inquisition, которая тоже была немаленькой, но ее побочные миссии напоминали о худших представителях MMORPG. Высочайшее мастерство сценаристов – главная причина, по которой «Ведьмак 3» заслуживает наивысшей похвалы. Повествование, проработка необязательных поручений и персонажей в «Ведьмаках» всегда были хороши, но The Witcher и The Witcher 2 не идут ни в какое сравнение со своим преемником: уж очень они крохотные, эдакие сборники рассказов на фоне многотомного романа. Подобное сравнение не лишено смысла, коль скоро в «Дикой Охоте» нет проходных эпизодов. Даже валяющийся на дороге ящик может сопровождаться короткой запиской, рассказывающей очередную трагедию маленького человека.</p>

                    <p>С другой стороны, о былой нелинейности можно забыть: то был очень затратный эксперимент. Безусловно, последствия принятых решений периодически будут напоминать о себе, да и развязки у «Ведьмака» самые разные, но повествование не покидает определенных рамок и следует по одному и тому же маршруту: продолжительных взаимоисключающих сюжетных арок «Убийц Королей» тут нет. Но поводы для повторных прохождений найдутся и без того.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/velen-27_hgsg.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183209" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/velen-27_hgsg.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Хотя Геральт преимущественно занимается изведением нечисти – чего еще взять с охотника на чудовищ? – в «Ведьмаке 3» не бывает двух похожих ситуаций. Да, начинается все примерно одинаково: доска объявлений, опрос свидетелей, изучение места происшествия с использованием нечеловечески острых зрения, обоняния и слуха. Нюансы кроются в деталях: герой может узнать, что клиент сам уже принял заказ (сволочь присваивает себе золото!), что цель, пожалуй, симпатичнее клиента или даже клиент – и есть цель. Поляки по полной программе эксплуатируют сюжеты Сапковского, но и сами постоянно подбрасывают что-нибудь новенькое. В «Дикой Охоте» от поисков Цири отвлекает не нужда в уровнях, а желание поучаствовать в еще одной увлекательной заварушке.</p>

                    <p>Потому что здесь очень сложно найти правых и виноватых: даже меньшее из зол не всегда определишь. Часто выходит, что с одной стороны оказывается чудовище с вполне понятными человеческими эмоциями, с другой – человек с чудовищной мотивацией. К счастью, драма периодически сменяется комедией: это уже Геральту решать, стоит ли сражаться с тупыми троллями или лучше заболтать их и получить свое без лишних усилий.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150531002121_ra65.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183212" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150531002121_ra65.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Показательно, что мастеру меча часто попадаются ситуации, где силовой метод – не самый лучший вариант развития событий. Спровоцировать собеседника в таких случаях легко, но с трупом до истины не докопаться, поэтому в «Дикой Охоте» часто хочется сохраниться перед любым мало-мальски важным разговором: даже самый мерзкий тип может оказаться невиновным, да и помощь порой получаешь от крайне неожиданных людей. С другой стороны, так или иначе местные жители постоянно пытаются обдурить охотника на чудовищ или давят на жалость, сообщая, что деньги, дескать, от сердца отрывают. Неудивительно, что Геральт постоянно жалуется на две вещи: магические порталы и скряг, объявляющих награды за разномастных душегубов.</p>

                    <p>Основные же события «Ведьмака 3» – эпопея по-настоящему огромная. Естественно, что последствия ваших решений сформируют одну из нескольких доступных концовок, но главное тут вовсе не то, что Геральт и его друзья в конце спасут мир. Дело в том, как все это подается, какое обилие персонажей – как книжных, так и совершенно новых – появляется на экране. Как и в других «Ведьмаков», в «Дикую Охоту» можно играть без знакомства с первоисточником и предыдущими играми (The Witcher и правда можно пропустить – на мой взгляд, они с «Дикой Охотой» серьезно расходятся, но вторую стоит посмотреть). Но не зря в титрах первым упоминается именно цикл Сапковского: обилие отсылок к его событиям поражает (да и «Убийц Королей» с предшественницей поминают не раз и не два). Возможно, встроенная справка и правда может как-то компенсировать незнание материала, но полагаться на нее не стоит. Незнакомому с Вильгефорцом человеку его мимолетное упоминание почти ничего не даст, но читатель Сапковского от этой мимолетной перепалки Геральта и Филиппы получит намного больше удовольствия.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/velen-17_518j.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183211" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/velen-17_518j.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Однако именно у фанатов прошлых «Ведьмаков» есть повод роптать на «Ведьмака 3». Практика показывает, что иначе и быть не могло, но все-таки обидно, что решения из прошлых частей на третью, по большому счету, никак не влияют. Для виду у нас выпытывают воспоминания о «Ведьмаке 2», но на практике они особенно не нужны. Пощадили вы Шеалу или нет – ничего интересного во встрече с ней не будет. Хенсельта и Саскии тут, кажется, вообще нет. Наивно было бы ожидать чего-то другого, но все-таки лучше быть в курсе перипетий «Убийц Королей».</p>

                    <p>Действительно странный поступок поляки совершили в совершенно иной плоскости: рекламировали открытый мир (который все-таки не совсем таков), дразнили картинкой (которой в игре нет, за что теперь им пришлось оправдываться). Вместо того чтобы акцентировать внимание на главном, они зачем-то мозолили глаза тем, что в «Ведьмаке 3» отходит на второй план (с «Убийцами Королей» была похожая проблема). Главное – это прекрасный, иногда даже пугающе актуальный сценарий. Тут высмеивают лицемерных религиозных фанатиков и узколобых богоборцев, выставляют в неприглядном виде власти, судебную систему и внесистемную оппозицию.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150523002324_t31q.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183210" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150523002324_t31q.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>«Ведьмак» не демонстрирует открыто сцены однополой любви и не может похвастаться наличием темнокожих персонажей, но именно CD Projekt RED ярче других рассказывает про расизм, ксенофобию и шовинизм. Да и в сексизме «Дикую Охоту» не уличишь, коль скоро женщины тут – одни из самых могущественных персонажей. Некоторые не уступят в жестокости и коварстве самому Радовиду, причем не все из них – чародейки. К слову, экранное время постельных сцен Геральта сократилось: если не считать куртизанок, то редкая дама согласится согрешить с ведьмаком. Зато если вам захочется организовать сразу две любовных интрижки, то за такое поведение вам тоже кое-что полагается. Геральту, конечно, позволено иногда пренебрегать собственными правилами, но и CD Projekt RED оставила за собой право читать игрокам мораль. Чего греха таить: «Ведьмаку» повезло с разработчиками, но самим разработчикам очень повезло с первоисточником.</p>

                    <h2>Крыжовник терпкий, сладкая сирень</h2><p>Впрочем, то, что авторам удалось создать большую, интересную и эмоциональную историю, не отменяет очевидных недочетов «Ведьмака 3». На Скеллиге и на материке несколько видов досуга – скачки, кулачные бои, карточная игра «гвинт», но лишь последняя удалась, остальные пали жертвой не самого удобного управления, которое, кстати, раздражает и вне мини-игр: порой очень трудно навестись на нужный объект, да и в бою прицелиться не всегда легко.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150522192748_x7t4.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183214" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150522192748_x7t4.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>В инвентаре тоже творятся странные вещи. Число носимых с собой зелий и бомб одного типа невелико: пусть восполняются они автоматически (за счет специального расходного материала) во время медитаций, но такое ограничение удивляет не меньше вооружения, предъявляющего требования к уровню персонажа. Какой смысл лезть в темную пещеру за редким мечом, если его нельзя будет использовать ближайшие часов двадцать? Да и изнашивается ведьмачье имущество с завидным постоянством. Не слишком сильно, да и ремонтные наборы нередки, но все равно не очень приятно. Хоть голыми руками биться не заставляют – и то хлеб.</p>

                    <p>А вот изменения в ролевой системе получились любопытными. Мало теперь разблокировать очередной навык: его необходимо активировать, разместив в одной из специальных ячеек, число которых крайне невелико. Так что планировать развитие персонажа имеет смысл с самого начала, ведь среди бонусов есть не только «+5% к чему-нибудь», но и новые активные и полезнейшие пассивные умения, которые при правильном сочетании с мутагенами позволяют значительно увеличить атаку Геральта, силу его знаков и т.п. В принципе, любого противника можно замучить обычным быстрым ударом в сочетании с кувырками, каким-нибудь знаком и мешком эликсиров (это уже вопрос терпения), но «Ведьмак 3» предлагает множество возможных способов изничтожения врагов – было бы у игроков желание в них разбираться.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150530131341_z3u3.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183216" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150530131341_z3u3.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Но впервые очутившись в Темерии, вы едва ли отправитесь штудировать справку: красивейшие закаты над рекой сами на себя не полюбуются! Пусть «Дикой Охоте» далеко до собственного трейлера двухлетней давности, это очень красивая игра с обилием мелких деталей. В сочетании с проникновенным саундтреком болотистый Велен и горы Скеллиге смотрятся особенно хорошо. Жуткая чаща мерзких ведьм, большой заброшенный остров, с которого великан прогнал жителей, – эти (и все прочие) локации могут похвастаться не только отличными заданиями, но и завораживающими видами. В конце концов, «Ведьмак 3» – одна из немногих игр, где лишний раз хочется самостоятельно добраться до пункта назначения, а не воспользоваться быстрым переходом.</p>

                    <p>В бою тоже есть, на что посмотреть: критический удар буквально разрубает противника по направлению движения меча Геральта. Если неприятелей много, то ведьмак в суматохе наверняка отрубит кому-нибудь руку, другого разрубит наискосок от ключицы до поясницы, третьему снесет голову. В такие моменты вспоминаются сочные описания схваток из цикла Сапковского – еще один довод в пользу того, что лучше с ним ознакомиться, ведь тогда и впечатления будут ярче.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150522190208_neya.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183215" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/vedmak-3-dikaia-okhota-20150522190208_neya.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Жаль, что на PS4 изредка наблюдается падение частоты кадров (а после продолжительных сеансов игры случаются долгие подгрузки текстур), но даже это не портит впечатление от игры, да и недавний патч заметно улучшил производительность и стабильность «Ведьмака». А версия для PC вообще приятно удивила: она хорошо смотрится даже на видеокарте, не подпадающей под минимальные системные требования.</p>

                    <p>Разочаровала локализация. Наличие мата не хорошо и не плохо – книги без него прекрасно обходились, и лично я нужды в нем не вижу, хотя часто самые крепкие словечки применяются тут весьма остроумно. Да и голоса подобраны в целом удачно – не только Геральт, но и многие его друзья и противники озвучены крайне толково (лишь отдельные важные персонажи и некоторые статисты звучат как-то вяло). Дело в том, что иногда фразы звучат слишком быстро или же наоборот – актеры будто бы растягивают каждую букву. Видимо, таким способом решили проблему того, что русскоязычные реплики иногда длиннее или короче оригинала. Весьма обидно, что в целом хорошую работу испортили подобным образом.</p>

                    <figure>
                        <a href="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/ard-skellig-3_kpx3.jpg" target="_blank"><img alt="" class="image SCREENSHOT" data-model="image" data-pk="183213" src="http://im.ziffdavisinternational.com/ign_ru/screenshot/default/ard-skellig-3_kpx3.jpg"></a>

                        <figcaption> </figcaption>
                    </figure>

                    <p>Но после первого прохождения «Дикой Охоты» на ум приходят не проседание частоты кадров, не неудобные скачки и даже не особенно ужасные моменты локализации. Из сотни с лишним часов вспоминаются расколдованная для Кейры Мец башня, прекрасная песня новой подруги Лютика, переполох с берсерками на Скеллиге, знакомство с троллем, решившим уйти добровольцем в реданскую армию, охота на новиградского Джека-потрошителя, попойка старых друзей в Каэр Морхене и десятки, если не сотни, других ярких и запоминающихся сцен и персонажей. Обитатели «Дикой Охоты» на редкость правдоподобны и не оставят равнодушными ценителей качественных текстов. «Ведьмак 3» – история эпичная, но в то же время и очень личная. Именно поэтому после первого прохождения я снова отправился в это приключение, чтобы исправить одну-единственную картинку в итоговом слайд-шоу.</p>
                </div>
                <div class="article_verdict">
                    <h4 class="conclusion">Вердикт</h4>
                    <p>«Дикая Охота» – игра выдающаяся. CD Projekt RED продемонстрировала невероятный качественный рост. Три релиза – три прекрасных продукта, один лучше другого, но «Дикая Охота» на голову выше своих предшественниц: чего только стоят грандиозность замысла и филигранное его исполнение, пусть и не без недочетов во второстепенных для сложной сюжетной игры вещах. Не могу согласиться с теми, кто записывает «Ведьмака» в игры года: «Дикая Охота» подводит черту под многолетними опытами по скрещиванию гигантского мира с объемным и ветвистым сценарием. У поляков желаемое получилось с первой попытки – это достижение целого поколения видеоигр, и забудется оно очень нескоро.</p>
                </div>
            </div>
        </article>
        <div class="scorecard wide">
            <div class="rating_container">
                <div class="rating">10</div>

                <div class="scorecardBox">
                    <b class="scoreText">Идеально</b>
                </div>
                <div class="ratingBlurb" itemprop="summary" id="id_keyword__1182__bottomline">Едва ли CD Projekt RED достигла предела возможного, но «Ведьмак 3» – нечто большее, чем просто очередная игра года.</div>
                <div class="byline"><b>Олег Зайцев</b>  <time datetime="2015-06-01T13:18:34+03:00">1 июня 2015 г.</time></div>
            </div>


            <div class="proscons">
                <ul class="pros">
                    <li><span class="list-item list-item-p">+</span>Отличный сюжет с обилием побочных линий и тяжелых решений</li>

                    <li><span class="list-item list-item-p">+</span>Огромный мир, полный интереснейших заданий ручной выделки</li>

                    <li><span class="list-item list-item-p">+</span>Правдоподобные NPC</li>

                    <li><span class="list-item list-item-p">+</span>Великолепный саундтрек</li>

                    <li><span class="list-item list-item-p">+</span>Потрясающие пейзажи</li>
                </ul>
                <ul class="cons">
                    <li><span class="list-item list-item-c">-</span>Управление далеко от идеала</li>

                    <li><span class="list-item list-item-c">-</span>Незначительные, но пока еще не до конца исправленные технические проблемы (PS4)</li>

                    <li><span class="list-item list-item-c">-</span>Любителей русскоязычных версий расстроит техническая часть локализации</li>
                </ul>
            </div>

            <hr>
        </div>
    </div>
</div>